<%= render "layouts/frame", title: "index" do %>

  index page
  <%= image_tag "rubyman_shibainu.png" %>
  <%= image_tag @image %>
  <%= image_tag @image, size:("100x100") %>
  <!--↓変数に入れた画像に対してvariantは使えない-->
  <!--%= image_tag @image.variant(resize:'100x100') %>-->
  <%= p @image_magick %>
  <%= p @image_magick.path %>
  <!--各種情報呼び出し。何に使えるのか？-->-->
  <!--%= p @image_magick.details %>--><br>
  <%= @image_magick.write @image %><br>
  <%= @image_magick.write @image %>
  <%= image_tag @user_image %>
  
  <!--登録-->
  <%= form_with model: User.new do |f| %>
    <div>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="checkbox">
      
    </div>
    <div>
      %= f.submit "ユーザーを保存" %>
    </div>
    
    
    
  <% end %>
  
  <table class="table">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %><%= user.id %></td>
          <td><%= image_tag user.get_image.variant(resize:"100x100").processed %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  
  
<% end %>