<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-8">
      <h1 class="jquery">hello world!</h1>
      <!--<div>-->
        <%= image_tag 'sheep.png', class: "position-relative" %>
        
        <span id="ruby" class="inactive" style="display:none">
          <%= image_tag 'ruby.png', class: "position-absolute", style: "left: 15px;" %>
        </span>
        
        <span id="santa_hat" style="display:none">
          <%= image_tag 'Santa hat.png', class: "position-absolute", style: "left: 15px;" %>
        </span>
        
        <span id="necktie" style="display:none">
          <%= image_tag 'necktie.png', class: "position-absolute", style: "left: 15px;" %>
        </span>
        
        <span id="sunglasses" style="display:none">
          <%= image_tag 'sunglasses.png', class: "position-absolute", style: "left: 15px;" %>
        </span>
        
        
      <!--</div>-->
    </div>
    <div class="col-md-2 col-sm-4 mt-5">
      <button type="button" class="ruby-btn btn btn-danger mt-3">ルビー</button>
      <button type="button" class="santa_hat-btn btn btn-danger mt-3">サンタ帽子</button>
      <button type="button" class="necktie-btn btn btn-danger mt-3">ネクタイ</button>
      <button type="button" class="sunglasses-btn btn btn-danger mt-3">サングラス</button>
    </div>
    
    <!--<div class="box1"></div>-->
    <section>
      <div>
        <%= image_tag "normal_shibainu.png" %>
      </div>
      <input type="range" id="range">
    </section>
    
    <section class="col-12 sec-3">
      <div id="arrow1" class="arrow "></div>
      <div id="arrow2" class="arrow "></div>
    </section>
  </div>
</div>

<script>
  
  // document.getElementsByClassName('element').style.display = "none";
</script>