<%= render 'layouts/frame', title: "post_image_show" do %>
  <%= link_to "戻る", post_images_path, class:"text-light" %>
  <div class="mt-3">
    <% if @post_image.base_image.present? %>
      <%= image_tag @post_image.base_image %>
    <% end %> 
    
    <% @post_image.images.each do |image| %>
      <span><%= image_tag image %></span>
    <% end %>
  </div>
  <div id="download">
    <%= link_to "Download", save_post_image_path, method: :post, class:"text-light" %>
  </div>
  
  <!--each分を使った画像のチェックボックス化-->
  <%= form_with model: @post_image do |f| %>
    <div>
      <% f.radio_button :images, 0 %>
      <%= f.label :images_0 do %>
        <%= image_tag @post_image.images[0] %>
      <% end %>
    </div>
    <%= f.submit "チェックボックスの情報を送る" %>
  <% end %>
  
  <!--for文を使った画像の表示-->
  <% size = @post_image.images.count %>
  <% for num in 0..size - 1 do %>
    <%= image_tag @post_image.images[num] %>
  <% end %>
  
  <!--for文を使った画像のラジオボックス化-->
  <%= form_with model: @post_image do |f| %>
    <% for num in 0..size -1 do %>
      <%= f.radio_button :images, num %>
      <%= f.label :"images_#{num}" do %>
        <%= image_tag @post_image.images[num] %>
      <% end %>
    <% end %>
    <%= f.submit 'ラジオボックスの情報を送る' %>
  <% end %>
  
  <!--for文を使った画像のチェックボックス化-->
  <%= form_with model: @post_image do |f| %>
    <% for cnum in 0..size -1 do %>
    <!--カラム名がradio_buttonと同じだと、check_boxを選択してもradioが選択されてしまうので、"_c"を追加。-->
      <%= f.check_box :images_c, { multiple: true }, cnum, nil %>
      <%= f.label :"images_c_#{cnum}" do %>
        <%= image_tag @post_image.images[cnum] %>
      <% end %>
    <% end %>
    <%= f.submit 'チェックボックスの情報を送る' %>
  <% end %>
  
   <!--チェックボックスで選択した画像の合成-->
  <%= form_with model: @post_image, url: download_post_image_path, method: :post do |f| %>
    <% for cnum in 0..size -1 do %>
      <%= f.check_box :images_d, { multiple: true }, cnum, nil %>
      <%= f.label :"images_d_#{cnum}" do %>
        <%= image_tag @post_image.images[cnum] %>
      <% end %>
    <% end %>
    <%= f.submit 'チェックボックスで選択した画像の合成' %>
  <% end %>
  
<% end %>